@import "../../../node_modules/six-design-tokens/build/scss/token-variables.scss";
@import "breakpoints";
@import "grid";

.six-footer {
  background: '$color-graphite-50';
  color: '$color-white';
  height: 440px; /* pour IE */
  padding: 10px 0;
  text-align: center;

  nav,
  hr,
  .legal {
    width: 100%;
    /*@include bp('md') {
      background: lightblue;
      width: map-get($grid-width, md);
    }
    @include bp('lg') {
      background: lightgreen;
      width: map-get($grid-width, lg);
    }
    @include bp('xl') {
      background: lightsteelblue;
      width: map-get($grid-width, xl);
    }*/
  }

  nav {
    margin: 0 auto 10px;
    h3 {
      color: '$color-white';
      margin-bottom: 10px;
      text-align: left;
      text-transform: uppercase;
    }
    ol {
      display: flex;
      justify-content: space-between;
      li {
        padding-right: 24px;
        width: calc(100%/6);
        &:last-child {
          padding-right: 0;
        }
      }
    }
    ul li {
      display: block;
      margin-bottom: 10px;
      list-style-type: none;
      text-align: left;
      width: 100%;
      a {
        color: '$color-white';
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  hr {
    margin: 10px auto;
  }

  .legal {
    margin: 0 auto 14px;
    ul {
      margin-bottom: 10px;
    }
    li {
      display: inline-block;
      list-style-type: none;
      padding-right: 5px;
      &:after {
        content: "|";
      }
      &:last-child:after {
        content: "";
      }
      a {
        color: '$color-white';
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .copyright {
      text-align: center;
    }
  }
}