@import '../../../node_modules/six-design-tokens/build/scss/token-variables';

h1,
.heading1,
h2,
.heading2,
h3,
.heading3,
h4,
.heading4,
h5,
.heading5,
h6,
.heading6 {
  color: $color-graphite-medium;
  font-family: $ds-font-main-name, Arial, Helvetica, sans-serif;
  font-weight: $ds-font-weight-bold;
  text-align: left;
}

h1,
.heading1 {
  font-size: 68px;
  line-height: 76px;
  margin-bottom: 26px;
}

h2,
.heading2 {
  font-size: 42px;
  line-height: 48px;
  margin-bottom: $ds-spaces-even-x-4;
}

h3,
.heading3 {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 13px;
}

h4,
.heading4 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: $ds-spaces-even-x-4;
}

h5,
.heading5 {
  /*font-size: 20px;
  line-height: 25px;
  margin-bottom: 16px;*/
}

h6,
.heading6 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 0;
}
