@import "reset";

@import "../../../node_modules/six-design-tokens/build/scss/token-variables.scss";
@import "utils";
@import "breakpoints";
@import "headings";
@import "grid";
@import "fonts";

@import "footer";


body {
  font-family: $ds-font-main-name, Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0 6px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: $ds-font-main-name, Arial, Helvetica, sans-serif;
}



