@import 'normalize';
// @import 'reset';

@import '../../../node_modules/six-design-tokens/build/scss/token-variables';
@import 'accessibility';
@import 'fonts';
@import 'headings';
@import 'grid';

// MIXINS
@import 'mixins/breakpoints';
//@import 'mixins/color';
@import 'mixins/font-size';

// UTILITIES
@import 'utilities/borders';
@import 'utilities/spacings';
@import 'utilities/text';


// COMPONENTS
@import 'footer';


* {
  box-sizing: content-box;
}

body {
  font-family: $ds-font-main-name, Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0 6px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  clear: both;
  font-family: $ds-font-main-name, Arial, Helvetica, sans-serif;
}


svg.icon {
  fill: $color-grey;
}

[hidden] {
  display: none;
  visibility: hidden;
}