<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>

  <title>Desjardins Design System | Onglets</title>

  <link href="../../../css/styles.css" rel="stylesheet" />
  <link href="../../../css/dssite/styles.css" rel="stylesheet" />
  <link href="tabs.css" rel="stylesheet" />
</head>

<body style="background: white; margin: 20px;">

    <div class="ds-tabs js-tabs" style="max-width: 600px">
      <ul class="ds-tabs-list">
        <li class="ds-tabs-item">
          <a href="#tab-panel-1" class="ds-tabs-link js-tab is-active">HTML</a>
        </li>
        <li class="ds-tabs-item">
          <a href="#tab-panel-2" class="ds-tabs-link js-tab">JSX</a>
        </li>
        <li class="ds-tabs-item">
          <a href="#tab-panel-3" class="ds-tabs-link js-tab">Angular</a>
        </li>
      </ul>
    
      <div class="ds-tabs-body">
        <div class="ds-tabs-panel js-tabs-panel is-active" id="tab-panel-1">
          Contenu du premier onglet
        </div>

        <div class="ds-tabs-panel js-tabs-panel" id="tab-panel-2">
          Contenu du deuxième onglet
        </div>

        <div class="ds-tabs-panel js-tabs-panel" id="tab-panel-3">
          Contenu du troisième onglet
        </div>
      </div>
  </div>

  <script type="text/javascript" src="tabs.js"></script>
</body>
</html>