<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  
  <!-- Code Highlighting -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  
  <link href="css/styles.css" rel="stylesheet" />
  <link href="css/dssite/styles.css" rel="stylesheet" />
  
  <title>Desjardins Design System | Introduction</title>
  
</head>

<body>
  
  <div class="main-wrapper">
    <div class="sidebar">
      {{> logo}}
      
      {{> navigation}}
    </div>

    <div class="content">
      <header>
        <h1>Introduction</h1>
      </header>

      <article class="bases">
        <p class="description">
          Petit texte d'introduction rapide.
        </p>
        <p>
          Paragraphe détaillant ce qu'est SIX.
        </p>
      </article>
    </div>
  </div>


  <!-- Minified JS -->
  <script type="text/javascript" src="js/main.min.js"></script>

</body>

</html>