// Définitions des points de rupture
// Pour aller plus loin : https://github.com/eduardoboucas/include-media/tree/master/src
$breakpoints: (
  xs: 320px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px
) !default;


/*
  Mixin ciblant la valeur d'un point de rupture et plus
  Exemple : Afficher sur un écran de taille minimum sm et plus 
  Utilisation : @include bp-above(sm) {}
  Résultat : @media (min-width: 768px) {
*/
@mixin bp-above($breakpoint) {
  // Si le point de rupture existe dans le mapping.
  @if map-has-key($breakpoints, $breakpoint) {
    // Récupérer le point de rupture.
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    // Écrire la media query ciblant la valeur minimale du point de rupture.
    @media (min-width: $breakpoint-value) {
      @content;
    }
  // Si le point de rupture n'existe pas dans le mapping.
  } @else {
    // Debugging. Affiche un avertissement dans la console.
    @warn 'Votre point de rupture est invalide : #{$breakpoint}.';
  }
}


/*
  Mixin ciblant la valeur d'un point de rupture -1px (pour éviter les conflits avec la mixin bp-above) et moins
  Exemple : Afficher sur un écran de taille maximum sm - 1px et moins 
  Utilisation : @include bp-below(sm) {}
  Résultat : @media (max-width: 767px) {
*/
@mixin bp-below($breakpoint) {
  // Si le point de rupture existe dans le mapping.
  @if map-has-key($breakpoints, $breakpoint) {
    // Récupérer le point de rupture.
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    // Écrire la media query ciblant la valeur du point de rupture -1px et moins
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  // Si le point de rupture n'existe pas dans le mapping.
  } @else {
    // Debugging. Affiche un avertissement dans la console.
    @warn 'Votre point de rupture est invalide : #{$breakpoint}.';
  }
}

/*
  Mixin ciblant les valeurs entre deux points de rupture
  Exemple : Afficher sur un écran de taille minimum sm et maximum md
  Utilisation : @include bp-between(sm, md) {}
  Résultat : @media (min-width: 768px) and (max-width: 1199px) {
*/
@mixin bp-between($lower, $upper) {
  // Si les deux points de ruptures bas et hauts existent dans le mapping.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    // Récupérer le bas et le haut des points de ruptures.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);
    // Écrire la media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  // Si un ou les deux points de ruptures n'existent pas dans le mapping.
  } @else {
    // Si le point de rupture bas n'est pas valide.
    @if (map-has-key($breakpoints, $lower) == false) {
      // Debugging. Affiche un avertissement dans la console.
      @warn 'Votre point de rupture bas est invalide : #{$lower}.';
    }
    // Si le point de rupture haut n'est pas valide.
    @if (map-has-key($breakpoints, $upper) == false) {
      // Debugging. Affiche un avertissement dans la console.
      @warn 'Votre point de rupture haut est invalide : #{$upper}.';
    }
  }
}