@import "../../../../node_modules/six-design-tokens/build/scss/token-variables.scss";

pre {
  background: $color-green-medium;
  border: 1px solid $color-green-medium;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 1px 1px 0 rgba($color-black, .5);
  overflow-x: auto;

  code {
    border: 0;
    color: $color-white;
    display: inline-block;
    height: 250px;
    overflow-y: auto;
    padding: 5px 10px;
  }
}

.hljs {
  background: none;
  border: 0;
  color: $color-white;
  display: inline-block;
  height: 250px;
  overflow-y: auto;
  padding: 5px 10px;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: monospace !important;
  tab-size: 2;
  text-shadow: none;
  white-space: pre-line;
}
