
<div class="grid-container">
  Display grid when S + X keys are pushed
  <script type="text/javascript" src="../assets/js/grid-display.js"></script>
  <div class="grid-size-name"></div>
  <div class="grid-display">
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
  </div>
  </div>