<div class="logo">
  <a href="/" title="Retourner à l'accueil du design system SIX de Desjardins">
    <img src="assets/images/logos/logo-desjardins-white.svg" alt="" />
    <span class="sr-only">Retourner à l'accueil du design system SIX de Desjardins</span>
  </a>
</div>