@import '../../../../node_modules/six-design-tokens/build/scss/token-variables';
@import '../mixins/breakpoints';

[hidden] {
  display: none;
  visibility: hidden;
}

.ds-main-nav {
  height: 100%;
  margin-right: $ds-spaces-even-x-6;
  margin-top: 100px;
  overflow-y: auto;

  .level1 {
    list-style-type: none;

    li {
      min-height: $ds-spaces-even-x-6;

      &.current > a:first-child,
      &.current > label {
        font-weight: $ds-font-weight-bold;
      }
    }

    > li {
      border-bottom: 2px solid $color-graphite-light;
      margin-top: 10px;
    }

    a,
    label {
      color: $color-graphite-dark;
      cursor: pointer;
      display: block;
      font-size: 16px;
      line-height: $ds-spaces-even-x-6;
      margin: 0 0 11px;
      text-decoration: none;
      transition: margin .25s ease-in;
    }

    input[type=checkbox] + label + ul {
      // Hide nested lists 
      height: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height .5s ease-in-out;
    }

    input[type=checkbox]:checked + label + ul {
      // reset the height when checkbox is checked
      max-height: 1000px;
    }
  }

  *[class^="level"] li {
    margin-left: 20px;
  }

  .level3,
  .level4 {
    background: rgba($color-graphite-dark, .1);

    li:first-child {
      margin-top: 11px;
    }
  }

  .level3 {
    border-radius: $ds-sizes-border-sm;
    margin-left: -20px;
  }

  .level4 {
    margin-bottom: 11px;
    margin-left: -40px;
    padding-left: 40px;
  }


  /* Rotating chevron icon
  label > span {
  float: right;
  transition: transform .65s ease;
  }
  .main-level input[type=checkbox]:checked + label > span {transform: rotate(90deg);}
  */
}